#projetos{
    margin-top: 100px;
    padding-inline: 80px;   
}

.cards_projetos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
}


h1{
    width: 100%;
    color: #BCBCBC;
    text-align: center;
}


.card{
    background-color: #6978D1;
    width: 500px;
    padding: 30px;
    color: #BCBCBC;
    text-align: center;
    margin-top: 50px;
    border-radius: 32px 0 32px 0;
}
.card img{
    width: 100%;
}

.card h2{
    font-size: 1.5rem;
    margin-top: 20px;
}

.card p{
    font-size: 1.2rem;
    color: #BCBCBC;
}

.button{
    margin-top: 20px;
    padding: 5px 10px;
    display: flex;
    width: 150px;
    justify-content: center;
    border: none;
    border-radius: 12px;
    display: flex;
    gap: 5px;
    color: white;
    background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
    margin: 0 auto;
    margin-bottom: 30px;
}

.button:hover{
    transform: translateY(-7px);
}
