.tecnologias{
    margin-top: 100px;
    padding-inline: 80px;   
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* border: 2px solid white; */
    width:90%;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    border-radius: 18px;
    background-image: url('../assets/background.jpeg');
    margin-top: 50px;
    box-shadow: 8px 8px 8px rgba(255, 255, 255, 0.356);
    
}

.tecnologias h1{
    margin-bottom: 50px;
    width: 100%;
    background-color: transparent;
}



.tecnologia{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.tecnologia img{
    background-color: transparent;
    height: 80px;
    transition: 0.5s ease;
}

.tecnologia img:hover{
    transform: translateY(-7px);
}

.tecnologia p{
    color: white;
    font-size: 2rem;
    background-color: transparent;
}

.git{
    color: white;
    font-size: 60px;
    background-color: transparent;
    transition: 0.5s ease;
}

.git:hover{
    transform: translateY(-7px);
}

